<MudDialog TitleClass="">
    <TitleContent>Account Editor: @accountInfo.username</TitleContent>
    <DialogContent>
        <MudStack Row="true">
            <MudPaper Elevation="4">
                <MudImage Src="@getProfileImg()" Fluid="true" Alt="@accountInfo.username"/>
            </MudPaper>
            <div class="d-flex flex-grow-1">
                <MudTabs Elevation="4" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" Class="d-flex flex-1">
                    <MudTabPanel Text="Account Info">
                        <MudTextField Value="@accountInfo.uuid" Label="UUID" ReadOnly="true" Variant="Variant.Text"/>
                        <MudTextField Value="@accountInfo.moneyFormatted" Label="Balance" Variant="Variant.Text"/>
                        <table>
                            <tr>
                                <td>
                                    <strong>Locked:</strong>
                                </td>
                                <td align="right">
                                    <MudCheckBox Value="accountInfo.locked" ReadOnly="true"/>
                                </td>
                            </tr>
                        </table>
                    </MudTabPanel>
                    <MudTabPanel Text="Transaction History">
                        <MudText>Placeholder Table Goes Here :3</MudText>
                    </MudTabPanel>
                    <MudTabPanel Text="Owned Shops">
                        <MudText>Placeholder Element :0</MudText>
                    </MudTabPanel>
                </MudTabs>
            </div>
        </MudStack>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance mudDialog { get; set; }

    [Parameter]
    public Account accountInfo { get; set; } = new Account();

    private string getProfileImg()
    {
        return $"https://crafatar.com/renders/body/{accountInfo.uuid}?scale=10";
    }
    
    private void Submit() => mudDialog.Close(DialogResult.Ok(true));
    private void Cancel() => mudDialog.Cancel();
}